{% extends 'Home.Html'%}  
{% block content %}

<div class="hero-image">
    <img src="..//static/images/heroimage.png" alt="heroimage">
  <div class="hero-text">
    <h1>Welcome to the home of Boxing</h1>
    <h3>Discover division, champions and Top-class fighters who reign the world.</h3>
  <a class="button" href="{{ url_for('top_tier') }}">
        VIEW RANKINGS
      </a>
  </div>
</div>
  <div class="hero-logo">
    <img src="../static/images/download (2).png" alt="hero-logo">
  </div>

 
  <h1 class="division-title">Explore Divisons</h1>
 
  <div class="cards-container">
  <div class="fighter-card">
    <img class="card-bg" src="../static/images/boxin ring.png" alt="backround">
    <img class="boxer-img" src="../static/images/Lightweight divison.png" alt="Lightweight">
  
  <div class="card-text">
    <h3>Lightweight</h3>
    <p>"Fast and skilled fighters"</p>
    <a class="button" href="/weight/1">View Divivsion</a>
  </div>
 </div>

    <div class="fighter-card">
      <img class="card-bg" src="../static/images/boxin ring.png" alt="backround">
      <img class="boxer-img" src="../static/images/Middle weigth divison.png" alt="Lightweight">
  
    <div class="card-text">
      <h3>Middleweight</h3>
      <p>"Power and technical fighters"</p>
      <a class="button" href="/weight/2">View Divivsion</a>
    </div>
    </div>

    <div class="fighter-card">
      <img class="card-bg" src="../static/images/boxin ring.png" alt="backround">
      <img class="boxer-img" src="../static/images/heavy weight divison.png" alt="Lightweight">
  
    <div class="card-text">
      <h3>Heavyweight</h3>
      <p>"Strongest and top champ fighters"</p>
      <a class="button" href="/weight/3">View Divivsion</a>
    </div>
    </div>
  </div> 

  <h1 class="featured-title">Featured fighters</h1>

  <div class="featured-section">
    <div class="featured-container">
        <div class="featured-card">
          <img class="featured-bg" src="../static/images/boxin ring.png" alt="backround">
          <img class="featured-img" src="../static/images/Davis.png" alt="">
          <div class="featured-text">
            <h3>Gervonta Davis</h3>
            <p>Lightweight</p>
            <a class="button" href="/weight/1">View Divivsion</a>
          </div>
        </div>

  

  
  
        <div class="featured-card">
          <img class="featured-bg" src="../static/images/boxin ring.png" alt="backround">
          <img class="featured-img" src="../static/images/alveraz.png" alt="Canelo">
          <div class="featured-text">
            <h3>Canelo Alvarez</h3>
            <p>Middleweight</p>
            <a class="button" href="/weight/2">View Divivsion</a>
          </div>
        </div>

        <div class="featured-card">
          <img class="featured-bg" src="../static/images/boxin ring.png" alt="backround">
          <img class="featured-img" src="../static/images/ali.png" alt="Ali">
          <div class="featured-text">
            <h3>Canelo Alvarez</h3>
            <p>Middleweight</p>
            <a class="button" href="/weight/3">View Divivsion</a>
          </div>
        </div>
    <div>
  </div>

{% endblock %}

