<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Boxing.css') }}">
    <title>Boxing app</title>
    
</head>
<body>

<div class="topnav">

  <img class="nav-logo" src="../static/images/download (2).png" alt="WBC logo">

  <div class="nav-bottom">

    <div class="brand">
      <h1>WBC <span>BOXING</span></h1>
    </div>

    <div class="nav-links">
      <a href="/">Home</a>

      <div class="dropdown">
        <a href="#" class="dropbtn">Divisions</a>

        <div class="dropdown-content">
          <a href="/weight/1">Lightweight</a>
          <a href="/weight/2">Middleweight</a>
          <a href="/weight/3">Heavyweight</a>
        </div>
      </div>

      <a href="/#fighters">TopTier fighters</a>
      <a href="#">Personal Favourites</a>
    </div>

    <form class="search-form" action="/search" method="GET">
      <input type="text" name="q" placeholder="Search boxer">
    </form>

  </div>

</div>

{% block content %}



  {% endblock %}  
</body>
</html>