<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Boxing.css') }}">
    <title>Boxing app</title>
    
</head>
<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a class="topnav" href="#Divisons">Divisons</a>
  <a href="#TopTeir fighters">TopTeir fighters</a>
  <a href="#Personal Favourites">Personal Favourites</a>
</div>

<div class="hero-image">
    <img src="..//static/images/heroimage.png" alt="heroimage">
  <div class="hero-text">
    <h1>Welcome to the home of Boxing</h1>
    <h3>Discover division, champions and Top-class fighters who reign the world.</h3>
    <button>Explore Divisons</button>
    <button>View Ranking</button>
  </div>
</div>
  <div class="hero-logo">
    <img src="../static/images/download (2).png" alt="hero-logo">
  </div>

 
  <h1 class="division-title">Explore Divisons</h1>
 
  <div class="cards-container">
  <div class="fighter-card">
    <img class="card-bg" src="../static/images/boxin ring.png" alt="backround">
    <img class="boxer-img" src="../static/images/Lightweight divison.png" alt="Lightweight">
  
  <div class="card-text">
    <h3>Lightweight</h3>
    <p>"Fast and skilled fighters"</p>
    <button>View division</button>
  </div>
 </div>

    <div class="fighter-card">
      <img class="card-bg" src="../static/images/boxin ring.png" alt="backround">
      <img class="boxer-img" src="../static/images/Middle weigth divison.png" alt="Lightweight">
  
    <div class="card-text">
      <h3>Middleweight</h3>
      <p>"Power and technical fighters"</p>
      <button>View division</button>
    </div>
    </div>

    <div class="fighter-card">
      <img class="card-bg" src="../static/images/boxin ring.png" alt="backround">
      <img class="boxer-img" src="../static/images/heavy weight divison.png" alt="Lightweight">
  
    <div class="card-text">
      <h3>Heavyweight</h3>
      <p>"Strongest and top champ fighters"</p>
      <button>View division</button>
    </div>
    </div>
  </div> 

  <h1 class="featured-title">Featured fighters</h1>

  <div class="featured-section">
    <div class="featured-container">
        <div class="featured-card">
          <img class="featured-bg" src="../static/images/boxin ring.png" alt="backround">
          <img class="featured-img" src="../static/images/Davis.png" alt="">
          <button>View division</button>
          <div class="featured-text">
            <h3>Gervonta Davis</h3>
            <p>Lightweight</p>
          </div>
        </div>

  

  
  
        <div class="featured-card">
          <img class="featured-bg" src="../static/images/boxin ring.png" alt="backround">
          <img class="featured-img" src="../static/images/alveraz.png" alt="Canelo">
          <button>View division</button>
          <div class="featured-text">
            <h3>Canelo Alvarez</h3>
            <p>Middleweight</p>
          </div>
        </div>

        <div class="featured-card">
          <img class="featured-bg" src="../static/images/boxin ring.png" alt="backround">
          <img class="featured-img" src="../static/images/ali.png" alt="Ali">
          <button>View division</button>
          <div class="featured-text">
            <h3>Canelo Alvarez</h3>
            <p>Middleweight</p>
          </div>
        </div>
    <div>
  </div>
    {% block content %} {% endblock %}
</body>
</html>