
{% extends 'Home.html' %}

{% block content %}

<h1 class="division-title">{{ division_title }}</h1>

<div class="featured-container vertical">

{% for boxer in boxers %}
  <div class="division-card">
    <div class="division-image-box">
      <img class="division-img" src="{{ url_for('static', filename='images/' + boxer[8]) }}" alt="boxer image">
    </div>
      
    <div class="division-info">

        <h2>{{ boxer[2] }}</h2>
        <h3>{{ boxer[3] }}</h3>

        <div class="division-stats">

          <div class="stat-item">
            <p>WINS</p>
            <h4>{{boxer [5] }}</h4>
          </div>

          
          <div class="stat-item">
            <p>LOSSES</p>
            <h4>{{boxer [6] }}</h4>
          </div>

          
          <div class="stat-item">
            <p>DOB</p>
            <h4>{{boxer [4] }}</h4>
          </div>

        </div>
        
        <a class="view-button" href="/fighter/{{ boxer[0] }}">View Fighter</a>
      
      </div>
    
    </div>

  {% endfor %}

</div>

{% endblock %}
